*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav, nav >div:nth-child(2),nav >div:first-child{
    display: flex;
    flex-flow: row nowrap;
    /* border: 1px solid green;   */

}
    /* Navbar Section */
nav{
    /* border: 1px solid red; */
    justify-content: space-around;
    background-color: #7a6ad8;
    border-radius: 0px 0px 25px 25px;
    height: 80px;
    width: 100%;
    position: fixed;
    color:white;
}
.nav-left{
    /* border: 1px solid blue; */
    /* margin-right: 450px; */
    padding-top: 15px;
}
.nav-left>a{
    font-size: 25px;
    font-weight: 600;
}
.nav-left> a >h1{
    /* border: 1px solid green; */
    padding-right: 10px;
    border-right: 0.5px solid white;
}

    /* Search Field */
#search, #search > div:first-child > input, #search > div:nth-child(2),.nav-right >div:first-child{
    background-color: rgba(255, 255, 255, 0.10);
}
#search{
    display: flex;
    flex-flow: row nowrap;
    border-radius: 23px;
    height: 44px;   
    margin-left: 10px;
    margin-right: 10px;
}
#search > div:first-child > input{
    height: 44px;
    border: none;
    outline: none;
    border-radius: 23px 0 0 23px;
    padding-left: 15px;
}
#search > div:nth-child(2){
    border-radius: 0 23px 23px 0;
}
#search > div:nth-child(2) > i{
    padding-left: 15px;
    margin-left: 0;
    margin-top:20px;
    margin-right: 10px;
}
    /* navbar right Section */
.nav-right{
    /* border: 1px solid green;  */
    justify-content: space-between; 
    width: 40%; 
}
.nav-right >div{
    height: 40px;
    width:95px;
    margin-top: 20px;
    padding:10px 0 0 22px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 20px;
    /* border:1px solid pink;    */
}
.nav-right >div:first-child{
    border-radius: 23px;
}
.nav-right >div:last-child{
    padding-left: 3px;
}
    /* Section First */
.sectionOne{
    height: 1099px;
    width:100%;
    background-image: url("https://templatemo.com/templates/templatemo_586_scholar/assets/images/banner-bg.jpg");
    background-repeat: no-repeat;
    display: flex;
}
.main{
    height: 650px;
    width:76%;
    margin:auto;
    margin-left:0;
    background-image: url("https://templatemo.com/templates/templatemo_586_scholar/assets/images/banner-item-01.jpg");
    background-repeat: no-repeat;
    margin-top:130px;
    color:white;
    border-radius: 23px;
}
.main > div:first-child{
    border: 1px solid white;
    width:13%;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 80px;
    padding:6px 20px;
    background-color: #7a6ad8;
    margin-left:100px;
    margin-top:100px;
}
.main >div:nth-child(2){
    margin-bottom: 50px;
    margin-left:10%;
    /* margin-top:200px; */
    width:60%;
    /* border: 1px solid white; */
    
}
.main >div:nth-child(2)>h1{
    font-size: 48px;
    font-weight: 700;  
}
.main >p{
    width: 65%;
    font-size: 17px;
    line-height: 28px;
    margin-left:10%;
    margin-bottom: 50px;
}
.main >div:nth-child(4){
    display: flex;
    /* border:1px solid yellow; */
    width:50%;
    margin-left:10%;
    /* margin-top:20px; */
}
.main >div:nth-child(4) >button{
    font-size: 14px;
    color: #7a6ad8;
    height: 50px;
    line-height: 50px;
    padding: 0px 25px;
    border-radius: 25px;
    font-weight: 500;
}
.main >div:nth-child(4) >div:nth-child(2){
    display:flex;
    margin-left:30px;
}
.main >div:nth-child(4) >div:nth-child(2)>div{
    color: #7a6ad8;
    background-color: #fff;
    height: 50px;
    width: 50px;
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    margin-right: 10px;
    font-size: 16px;
}
.main >div:nth-child(4) >div:nth-child(2)>div >i{
    padding-left: 3px;
}
.main >div:nth-child(4) >div:nth-child(2) >span{
    margin-top: 15px;
    margin-left: 3px;
}
.sub{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:115px;
    /* background-color:red; */
    margin-top:675px;
    margin-left:8%;
    margin-right:90px;
}
.sub>div{
    height:50px;
    width:50px;
    border-radius: 50%;
    color:white;
    background-color:#9588e1;
}
.sub >div >i{
    margin-top:25px;
    margin-left:16px;
 }
.sub>div:hover{
    background-color: #C3ACD0;
    /* opacity:0.3; */
    color:white;
}

    /* Second Section */
.sectionTwo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    /* border:1px solid red; */
    margin-top: 50px;
}
.sectionTwo >div >div:first-child{
    max-width: 300px;
    border-radius: 25px;
    /* border:1px solid red; */
    background-color: #f1f0fe;
    padding: 80px 30px 50px 30px;
    
    
}
.sectionTwo >div >div:first-child >h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
.sectionTwo >div >div:first-child >p{
    font-size: 14px;
    color: #4a4a4a;
    line-height: 28px;
    margin-bottom: 25px;
}
.sectionTwo >div >div:first-child >a{
    background-color: #fff;
    color: #7a6ad8;
    font-size: 14px;
    font-weight: 500;
    height: 70px;
    padding: 10px 25px;
    border-radius: 20px
}
.sectionTwo >div >div:first-child >a:hover{
    color:#fff;
    background-color: #7a6ad8;
}
.sectionTwo >div:first-child >div:nth-child(2),.sectionTwo >div:nth-child(2) >div:nth-child(2),.sectionTwo >div:nth-child(3) >div:nth-child(2){
    width: 190px;
    height: 190px;
    background-color: #7a6ad8;
    border-radius: 50%;
    position: absolute;
    top: 145vh;
}

.sectionTwo >div:first-child >div:nth-child(2){
    left: 370px; 
    z-index: 1;     
}
.sectionTwo >div >div:nth-child(2) >img{
    padding-left: 50px;
    padding-top: 50px;
    
}
.sectionTwo >div:nth-child(2) >div:nth-child(2){
    left: 820px; 
    z-index: 1;
}
.sectionTwo >div:nth-child(3) >div:nth-child(2){
    left: 1270px; 
    z-index: 1;
}


